@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*.myBackgroundHome {
  @apply bg-red-100;
}*/
.myBackgroundPage {
  @apply bg-slate-100
}


/* Page resumes*/
#resumePageStyle1 .profilePhotoContainer {
  box-shadow: '11px 7px 29px 0px #404040';
}

#resumePageStyle1 .image-container {
  height: 100%;
  position: relative;
  padding: 2px;
  
  @apply bg-zinc-400
}
#resumePageStyle1 .image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}