@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 @apply bg-slate-200
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*.myBackgroundHome {
  @apply bg-red-100;
}*/
.myBackgroundPage {
  @apply bg-slate-100 dark:bg-slate-900
}


/* Page resumes*/
#resumePageCustom .profilePhotoContainer {
  box-shadow: '11px 7px 29px 0px #404040';
}

#resumePageCustom .image-container,
#gallery-images .image-container {
  height: 100%;
  position: relative;
  padding: 2px;
  
  @apply bg-zinc-400
}

#gallery-images .sectionGallery {
  @apply mt-3
}

#resumePageCustom .image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

.checkingMyBg {
  @apply bg-slate-200
}

.sessionIconsNavBar  {
  align-items: center;
  @apply flex flex-row p-2 rounded hover:bg-blue-300
}

.sessionIconsNavBar .text-session-btn {
  @apply text-blue-600 text-xs 2xl:text-sm font-medium
}

.labelFormClass {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white pr-2 pt-2
}

#customImageModal .no-image, #customImageModal .image-found {
  @apply bg-slate-400 border rounded-xl min-h-40
}

#customImageModal .no-image .Imageelement,
#customImageModal .image-found .Imageelement {
  position: unset;
  object-fit: cover;
}

#customImageModal .image-new .Imageelement {
  @apply hover:scale-105
}

#customImageModal .no-image,
#customImageModal .image-new {
  @apply hover:scale-105 cursor-pointer
}


.loading:hover {
  @apply cursor-progress
}

.arrowsIcons {
  @apply self-center w-5 rounded border  cursor-pointer hover:scale-110 
  border-gray-600
  text-slate-900
  hover:bg-slate-900 hover:text-slate-200	
  dark:text-zinc-50
  dark:hover:bg-slate-200 dark:hover:text-slate-900
}

.inputNumberValue {
  @apply border border-gray-600 
  w-12 bg-gray-50 
  text-gray-900 text-sm rounded-lg 
  p-1 dark:bg-gray-600 dark:border-gray-500 
  dark:placeholder-gray-400 dark:text-white 
  
}

.colorCercleButton {
  @apply h-5 w-5 border border-gray-600 self-center rounded-full ml-2 cursor-pointer hover:scale-105
}

/* MAIN PAGE*/

.box {
  background-color: rgb(108, 108, 108);
  border-radius: 50%; /* Forme initiale : cercle */
  animation: rotate 5.7s infinite; /* 0.7s pour la rotation et 5s de délai avant de redémarrer */
  @apply min-w-9 min-h-9 md:min-w-10 md:min-h-10 lg:min-w-14 lg:min-h-14 xl:min-w-20 xl:min-h-20 
  before:absolute before:inset-0 before:rounded-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent
}

.box-header {
  background-color: rgb(158, 158, 158);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  animation: rotateQuick 0.2s ease-in; /* 0.7s pour la rotation et 5s de délai avant de redémarrer */
  /*background: rgb(185,185,185);
  background: linear-gradient(90deg, rgba(185,185,185,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);*/
  
  @apply bg-gradient-to-r from-slate-400 to-slate-100	
  dark:bg-gradient-to-r dark:from-slate-900 dark:to-slate-200	
}
.box-section {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  animation: rotateQuick 0.2s normal; /* 0.7s pour la rotation et 5s de délai avant de redémarrer */
}

@keyframes rotate {
  0% {
    transform: rotate(0) scaleX(1); /* Forme initiale : cercle */
  }
  95% {
    transform: rotate(360deg) scaleX(1); /* Rotation en cercle */
  }
  100% {
    border-radius: 0%; /* Transformation en carré */
    transform: rotate(0) scaleX(1);
  }
}

@keyframes rotateQuick {
  0% {
    transform: rotate(0) scaleX(1); /* Forme initiale : cercle */
  }
  95% {
    transform: rotate(360deg) scaleX(1); /* Rotation en cercle */
  }
  100% {
    border-radius: 0%; /* Transformation en carré */
    transform: rotate(0) scaleX(1);
    
  }
}

